# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# Frontend
frontend/node_modules/

# Local files
*.local

# Editors
.vscode/*
!.vscode/extensions.json
.gigacode/