DATABASE_URL=
DATABASE_ECHO=false
SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

KINGPROMOTION_API_KEY=
KINGPROMOTION_API_URL=https://kingpromotion.space/api/v2/
KINGPROMOTION_MARKUP_PERCENT=50
REFERRAL_REWARD_PERCENT=12

FRONTEND_URL=https://monument-cuddly-outsell.ngrok-free.dev

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=https://monument-cuddly-outsell.ngrok-free.dev/payment/success
YOOKASSA_WEBHOOK_URL=https://monument-cuddly-outsell.ngrok-free.dev/api/payments/yookassa/webhook
YOOKASSA_AUTO_REGISTER_WEBHOOK=true
