/* =========================================================
   HERO SUBTITLE
========================================================= */

.hero-subtitle {
    margin: 18px 0 20px;

    max-width: 570px;

    color: var(--muted);

    font-size: 18px;

    line-height: 1.55;
    text-align: center;
}

.hero--left .hero-subtitle {
    margin: 18px 0 20px;
    text-align: left;
}